body {
    font-family: 'Arimo', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #3A4965;
}

.mainTable {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.planTitle {
    background-color: #FAFAFA;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #484848;
    padding: 50px 35px 48px 36px;
    border-right: 1px solid #DDDDDD;

}

.spanTitle {
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    text-transform: uppercase;
}

.priceBox {
    background-color: #FAFAFA;
    padding: 9px 32px 14px 35px;

}

.price {
    font-weight: bold;
    font-size: 60px;
    line-height: 28px;
    color: #484848;

}

.priceIndex {
    font-size: 24px;
    vertical-align: 1.5em;
}

.priceText {
    font-size: 18px;
    line-height: 28px;
}

.packs {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    height: 73px;
    border: none;
}

.standart {
    background-color: #89C331;
}

.ultimate {
    background-color: #F04A56;
}

.premium {
    background-color: #20807C;
}

.bodyCaseTxt {
    font-size: 16px;
    line-height: 28px;
    color: #484848;
    height: 72px;
}

.mainRowsBg {
    background-color: #F2F2F2;
}

.secondRowsBg {
    background-color: #E3E3E3;
}

.btn {
    height: 54px;
    width: 195px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.contactsBtn {
    background-color: #484848;
    box-shadow: 0 7px #404040;
}

.btnBuyStadart {
    background-color: #89C331;
    box-shadow: 0 7px #79B027;
}

.btnBuyUltimate {
    background-color: #F04A56;
    box-shadow: 0 7px #DF3A46;
}

.btnBuyPremium {
    background-color: #20807C;
    box-shadow: 0 7px #16736F;
}

.footerCase {
    height: 109px;
}

.contactUsCase {
    background-color: #DDDDDD;
}

.buyCase {
    background-color: #EEEEEE;
}

.buyUltimateCase {
    background-color: #F4F4F4;
}

td {
    border-right: 1px solid #DDDDDD;
}

.tableSecond {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

.tableSecondHead {
    height: 115px;
    border-bottom:  10px solid #3A4965;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #848484;
    
    
}

.secondTitle {
    background-color: #FAFAFA;
    font-size: 14px;
    color: #484848;
    padding: 25px 19px 40px
}

.secondSpanTitle {
    font-size: 20px;
}

.standardCase2 {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    background-color: #89C331;
    padding: 23px 23px;
    text-transform: uppercase;
}

.ultimateCase2 {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    background-color: #F04A56;
    padding: 23px 23px;
    text-transform: uppercase;
}

.premiumCase2 {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    background-color: #20807C;
    padding: 23px 23px;
    text-transform: uppercase;
}

.buyBtn2 {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    background-color: #414141;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 5px #343434;
    border-radius: 5px;
    cursor: pointer;
    width: 147px;
    margin-top: 15px;
}
.packets2Name{
    font-size: 24px;
}
.packetsPrice2{
    font-size: 36px;
}
.priceIndex2{
    font-size: 18px;
    vertical-align: 0.3em;
    margin-right: 4px;
}
.table2Text{
    font-size: 16px;
line-height: 24px;
color: #484848;
background: #E3E3E3;
}
.secondaryBgColor{
    background: #F2F2F2;
    padding-left:24px;
    padding-right: 24px;
}
.mainBgColor2{
    background-color: #E3E3E3;
    padding-left: 24px;
    padding-right: 24px;
}